/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/data
supervisord.log
.env.testing
/docker/supervisor/logs
/docker/nginx/log
storage/api-docs/api-docs.json
